# xml2rfc and dependencies
xml2rfc[pdf]==3.31.0
ConfigArgParse==1.7.1
google-i18n-address==3.1.1
intervaltree==3.2.1
pycountry==24.6.1
PyYAML==6.0.3
requests==2.32.5
wcwidth==0.3.0
weasyprint==65.0

# rfclint
rfclint==1.0.0

# Transitive dependencies
appdirs==1.4.4
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset_normalizer==3.4.4
colorama==0.4.6
cssselect2==0.8.0
fonttools[woff]==4.61.1
idna==3.11
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
Pillow==12.1.0
platformdirs==4.5.1
pycparser==3.0
pydyf==0.12.1
Pyphen==0.17.2
six==1.17.0
sortedcontainers==2.4.0
svgcheck==0.11.0
tinycss2==1.5.1
tinyhtml5==2.0.0
urllib3==2.6.3
webencodings==0.5.1
zopfli==0.4.0
